[user]
	email = jens@gutzeit.name
	name = Jens Gutzeit
[core]
	editor = "vim -f"
[color]
	ui = true
[alias]
	unstage = reset HEAD --
   serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
